name: CI - Flights

on:
  push:
    branches: ['main']
    paths:
      - 'Backend/**'
  pull_request:
    branches: ['main']
    paths:
      - 'Backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: flight_booking
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd Backend
          npm install

      - name: Run Linter
        run: |
          cd Backend
          npm run lint

      - name: Run Tests
        run: |
          cd Backend
          npm test
        env:
          DB_NAME: flight_booking
          DB_USER: postgres
          DB_PASS: pass
          DB_HOST: postgres
          POSTGRES_URI: postgres://postgres:pass@35.232.83.157:5432/flight_booking

  deploy-to-cloud-run:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: devops-workshop-462511
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Build and push Docker image
        run: |
          gcloud auth configure-docker
          docker build -t gcr.io/devops-workshop-462511/gcr.io/flights-backend Backend/
          docker push gcr.io/devops-workshop-462511/gcr.io/flights-backend

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy flights-backend \
            --image gcr.io/devops-workshop-462511/gcr.io/devops-workshop-462511/flights-backend \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --set-env-vars "DATABASE_URL=${{ secrets.DATABASE_URL }}"
